/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
/* End of Sticky footer styles
-------------------------------------------------- */

/*** start loader **/
@-moz-keyframes three-quarters-loader {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes three-quarters-loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes three-quarters-loader {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* :not(:required) hides this rule from IE9 and below */
.three-quarters-loader:not(:required) {
  -moz-animation: three-quarters-loader 1250ms infinite linear;
  -webkit-animation: three-quarters-loader 1250ms infinite linear;
  animation: three-quarters-loader 1250ms infinite linear;
  border: 8px solid #38e;
  border-right-color: transparent;
  border-radius: 16px;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-indent: -9999px;
  width: 32px;
  height: 32px;
}
/** end loader **/

.loader-container {
  margin-top: 50px;
  text-align: center;

}

.container {
  margin-bottom: 20px;
}

.lecture {
  border-top: 1px solid #ccc;
  padding-top: 15px;
  padding-bottom: 15px;
}

.lecture:nth-child(2) {
  border: 0;
}

.lecture-date {
  font-style: italic;
  font-size: 11px;
  text-align: right;
}

.block-title {
  background-color: #eee;
  padding: 10px;
  font-size: 14px;
}

footer {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 12px;
  text-align: center;
}

.nav {
  background-color: #444;
}

.nav a {
  color: white;
}

/* Bootstrap overrides */
nav .nav > li > a:hover, nav .nav > li > a:focus {
  background: none !important;
  text-decoration: underline;
}

.course {
  list-style-type: none;
  border-bottom: 1px solid white;
}

.course a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 15px;
}

.course-list {
  padding: 0;
}

.active-course {
  background-color: #900;
}

.archived-course {
  background-color: #ddd;
}

.active-course a {
  color: white;
}

.job {
  border-bottom: 1px solid #777;
}

.job:last-child {
  border-bottom: 0;
}

.job-details {
  list-style-type: none;
  padding: 0;
}

.job-date {
  text-align: right;
  font-style: italic;
  color: green;
  margin-top: 15px;
}

.unread-count {
  background: red;
  color: white;
  padding: 2px;
  font-size: 7pt;
  position: absolute;
  top: 2px;
  right: 0;
  border-radius: 10px;
  min-width: 17px;
  text-align: center;
}

.has-unread-count {
  position: relative;
}
