<div class="container">
  <nav>
    <ul class="nav nav-pills">
      <li role="presentation">
        {{#link-to 'index'}}
          Home
        {{/link-to}}
      </li>
      <li role="presentation">
        {{#link-to 'jobs'}}Jobs{{/link-to}}
      </li>
      <li role="presentation">
        <a href="https://www.youtube.com/channel/UCLhLYSysw4juedNhsXGo7Vw?feature=watch" target="_blank">
          Lectures
        </a>
      </li>
    </ul>
  </nav>

  {{outlet}}

  <div class="row">
    <div class="col-md-12">
      <footer>
        <span>David Tang, {{year}}</span>
      </footer>
    </div>
  </div>
</div>
