<div class="page-header">
  <h1>Jobs</h1>
</div>

<div class="row">
  <div class="col-md-12">
    <p>
      If you'd like to post a web development opportunity (full-time, part-time, & internships) here for students, please send an email to David at dtang at usc.edu or Nayeon at nayeonki at usc.edu
    </p>
  </div>
</div>
